[submodule "push_swap_visualizer"]
	path = push_swap_visualizer
	url = https://github.com/o-reo/push_swap_visualizer
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/gazhonsepaskwa/libft.git
